.navigation__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  color: #1a1b22;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  cursor: pointer;
}

