.navigation__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  color: #1a1b22;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navigation__links {
    flex-direction: row;
    margin: 0;
    margin-right: 26px;
    justify-content: space-between;
  }
}

