@import url('_is-invisible/lists__item_is-invisible.css');
@import url('__item/lists__item.css');
@import url('__item-mobile/lists__item-mobile.css');

.lists {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}