@import url('_border-bottom/container_border-bottom.css');
.container {
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}
@media screen and (min-width: 655px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-right: 104px;
    padding-left: 104px;
  }
}