@import url("__image/article__image.css");
@import url("__date/article__date.css");
@import url("__text-container/article__text-container.css");
@import url("__text/article__text.css");
@import url("__link/article__link.css");
@import url("__button/article__button.css");
@import url("__button-container/__button-container.css");
@import url("__title/article__title.css");
@import url("__tooltip-text/article__tooltip-text.css");
@import url("__keyword/article__keyword.css");


.article {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
  background-color: #fff;
  width: 288px
}

.article:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}