.article__text-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  height: 100%;
  text-align: left;
  word-wrap:break-word;
  overflow: hidden;
}
