<!DOCTYPE html>
<html lang="ru">
<meta charset="UTF-8">
<meta name="description" content="Поисковик  мировых новостей">
<meta name="keywords" content="новости, природа, политика, читать, найти">
<meta name="author" content="Альтухова Валентина">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="<%=require('../images/fav.png').default %>" type="image/png">
<title>World news explorer</title>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">

<!-- page_no-scroll -->

<body class="page">
  <div class="root">
    <div class="header-sector">
      <header class="header">
        <div class="container header__container">
          <a class="logo logo_color_white header__logo" href="./">NewsExplorer</a>
          <!-- button-burger_is-invisible -->
          <button class="button-burger  button-burger_icon_white-menu"></button>
          <!-- button-close_is-visible -->
          <img src="<%=require('../images/close_white_mobile.svg').default%>" alt="Иконка закрытия окна"
            class="header__button-close button-close ">
          <!-- nav_is-visible -->
          <nav class="nav nav__menu">
            <ul class="lists nav__lists">
              <!-- lists__item_is-invisible -->
              <li class="lists__item"><a href="./" class="link__active-white nav__link nav__link_main">Главная</a> </li>
              <!-- lists__item_is-invisible -->
              <li class="lists__item  link__passive "><a href="./articles"
                  class="nav__link nav__link_saved-articles ">Сохраненные статьи</a>
              </li>
              <li class="lists__item lists__item-authorization">
                <button id="authorization" class="button button_size_m button_color_dark lists__button
                button_type_authorization ">Авторизоваться</button></li>
              <li class="lists__item ">
                <button id="user-logout-button"
                  class="button button_size_m button_color_dark lists__button lists__item_is-invisible">Гретта<span
                    class="button__icon button__icon_location_main"></span></button></li>
            </ul>
          </nav>
        </div>

      </header>
      <!-- <header class="header">
      <div class="container header__container">
        <a class="logo logo_color_white header__logo" href="./">NewsExplorer</a>
        <button class="button-burger button-burger_icon_white-menu"></button>
        <nav class="nav">
          <ul class="lists nav__lists"> -->
      <!-- lists__item_is-invisible -->
      <!-- <li class="lists__item"><a href="./" class="link__active-white nav__link nav__link_main">Главная</a> </li>
            <li class="lists__item  link__passive lists__item_is-invisible"><a href="./articles" class="nav__link_saved-articles ">Сохраненные статьи</a>
            </li>
            <li class="lists__item"><button id="authorization"
                class="button button_size_m button_color_dark lists__button">Авторизоваться</button></li>
            <li class="lists__item lists__item_is-invisible">
              <button id="user-logout-button" class="button button_size_m button_color_dark lists__button">Гретта<span class="button__icon button__icon_location_main"></span></button></li>
          </ul>
        </nav>
      </div>
    </header> -->

      <section class="search header-sector__search">
        <div class="container">
          <div class="search__container">
            <h1 class="title title_size_l search__title">Что творится в мире?</h1>
            <p class="subtitle search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном
              кабинете.</p>
            <form class="search__form" name="searh">
              <input id="search" class="search__input input-focus" type="text" required minlength="2" maxlength="30"
                placeholder="Введите тему новости">
              <button class="button button_color_blue button_state_active button_size_l search__button">Искать</button>
            </form>
          </div>
        </div>
      </section>
    </div>

    <main class="content">
      <section class="articles">
        <div class="container">
          <h2 class="articles__title title_size_m">Результаты поиска</h2>
          <ul class="articles__grid">
            <li class="article">
              <div class="article__button-container">
                <button class="article__button article__button_type_mark">
                  <span class="article__tooltip-text">
                    Войдите, чтобы сохранить статьи</span></button>
              </div>
              <a href="https://lenta.ru/" target="_blank" class="link-container">
                <img class="article__image" src="<%=require('../images/card1_mobile.jpg').default%>"
                  alt="На фотографии изображен куст шалфея">
                <div class="article__text-container">
                  <p class="article__date">2 августа, 2019</p>
                  <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
                  <p class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков...</p>
                  <span class="title title_size_xs article__link">лента.ру</span>
                </div>
              </a>
            </li>

            <li class="article">
              <div class="article__button-container">
                <button class="article__button article__button_type_bookmark"><span class="article__tooltip-text">
                    Войдите, чтобы сохранить статьи</span></button>
              </div>
              <a href="https://meduza.io/" target="_blank" class="link-container">
                <img class="article__image" src="<%=require('../images/card2_mobile.jpg').default%>"
                  alt="На фотографии изображено растение на сером фоне">
                <div class="article__text-container">
                  <p class="article__date">2 августа, 2019</p>
                  <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
                  <p class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков...</p>
                  <span class="title title_size_xs article__link">медуза</span>
                </div>
              </a>
            </li>

            <li class="article">
              <div class="article__button-container">
                <button class="article__button article__button_type_bookmark"><span class="article__tooltip-text">
                    Войдите, чтобы сохранить статьи</span></button>
              </div>
              <a href="https://ria.ru/" target="_blank" class="link-container">
                <img class="article__image" src="<%=require('../images/card3_mobile.jpg').default%>"
                  alt="На фотографии изображен фон из зеленых листочков растения">
                <div class="article__text-container">
                  <p class="article__date">2 августа, 2019</p>
                  <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
                  <p class="article__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков...</p>
                  <span class="title title_size_xs article__link">риа</span>
                </div>
              </a>
            </li>
          </ul>
          <button class="button button_size_l button_color_white articles__button">Показать еще</button>
        </div>
      </section>

      <section class="preloader">
        <div class="container preloader__container">
          <i class="circle-preloader"></i>
          <p class="preloader__text">Идёт поиск новостей...</p>
        </div>
      </section>

      <section class="not-found not-found_is-opened">
        <div class="container">
          <img class="not-found__img" src="<%=require('../images/not-found_img_mobile.svg').default%>"
            alt="Картинка ничего не найдено.">
          <h2 class="not-found__title title_size_s">Ничего не найдено</h2>
          <p class="not-found__text">К сожалению по вашему запросу
            ничего не найдено.</p>
        </div>
      </section>

      <section class="author">
        <div class="container author__container">
          <div class="author__image">
            <picture>
              <source media="(max-width: 768px)" srcset="<%=require('../images/author1-min.jpg').default%>" />
              <source media="(max-width: 1440px)" srcset="<%=require('../images/author2-min.jpg').default%>" />
              <img src="<%=require('../images/avatar-mobile.jpg').default%>" alt="Фотография автора сайта"
                class="author__image" title="Фотография создателя сайта" />
            </picture>
          </div>
          <div class="author__about">
            <h2 class="author__title title_size_m">Об авторе</h2>
            <p class="author__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы
              занимаетесь, какими технологиями разработки владеете.</p>
            <p class="author__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и
              чем
              можете помочь потенциальным заказчикам.</p>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container footer__container">
        <span class="footer__copyright">© 2020 Supersite, Powered by News API</span>
        <nav class="navigation navigation_location_footer">
          <ul class="navigation__links">
            <li class="navigation__item">
              <a href="./" class="navigation__link">Главная</a></li>
            <li class="navigation__item">
              <a href="https://praktikum.yandex.ru" class="navigation__link">Яндекс.Практикум</a>
            </li>
          </ul>
          <ul class="social">
            <li class="social__item"><a href="https://github.com/vpeacock/" class="social__link"><img
                  src="<%=require('../images/github-mobile.svg').default%>" alt="Иконка Github" class="social__img"></a>
            </li>
            <li class="social__item"><a href="https://facebook.com" class="social__link"><img
                  src="<%=require('../images/facebook-mobile.svg').default%>" alt="Иконка социальной сети Facebook"
                  class="social__img"></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- popup_is-invisible -->

      <div class="popup popup-auth popup_is-invisible"id="popup-auth">
        <div class="popup__container">
          <img src="<%=require('../images/close_white_mobile.svg').default%>" alt="Иконка закрытия окна"
            class="button-close popup__button-close">
          <h3 class="popup__title">Вход</h3>
          <form class="popup__form" name="loginEnter" novalidate>
            <div class="input-container">
              <label for="email-login-auth" class="form__label"><span class="popup__text">Email</span></label>
              <input id="email-login-auth" required type="email" name="email-login"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="popup__input input-focus"
                placeholder="Введите email">
              <span id="error-email-login-auth" class="error-message error-message_is-opened">email имеет неверный
                формат</span>
            </div>
            <div class="input-container">
              <label for="login-password-auth" class="form__label"><span class="popup__text">Пароль</span></label>
              <input id="login-password-auth" required type="password" name="password" class="popup__input input-focus"
                minlength="8" placeholder="Введите пароль">
              <span id="error-login-password-auth" class="error-message error-message_is-opened">Пароль имеет неверный
                формат </span>
            </div>
            <span id="error_server" class="error-message error-message_type_server"></span>
            <button type="submit" name="button" id="popup-auth"
              class="button button_color_blue button_size_l popup__button button_state_inactive"
              disabled="true">Войти</button>
            <div class="input-container">
              <span class="popup__change">или</span>
              <span class="popup__text popup__text_status_move" id="register">Зарегистрироваться</span>
            </div>
          </form>
        </div>
      </div>


         <!-- popup_is-invisible -->
      <div class="popup popup-signup  popup_is-invisible" id="popup-signup">
        <div class="popup__container">
          <img src="<%=require('../images/close_white_mobile.svg').default%>" alt="Иконка закрытия окна"
            class="button-close  popup__button-close">
          <h3 class="popup__title popup-signup__title">Регистрация</h3>
          <form class="popup__form" name="login">
            <div class="input-container">
              <label for="email-signup" class="form__label"><span class="popup__text">Email</span></label>
              <input id="email-signup" required type="email" name="email-login"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="popup__input input-focus"
                placeholder="Введите email">
              <span id="error-email-signup" class="error-message error-message_is-opened">email имеет неверный
                формат</span>
            </div>

            <div class="input-container">
              <label for="login-password-signup" class="form__label"><span class="popup__text">Пароль</span></label>
              <input id="login-password-signup" required type="password" name="password"
                class="popup__input input-focus" minlength="8" placeholder="Введите пароль">
              <span id="error-login-password-signup" class="error-message error-message_is-opened">Пароль должен
                содержать не менее 8
                символов</span>
            </div>
            <div class="input-container">

              <label for="name-check-signup" class="form__label"><span class="popup__text">Имя</span></label>
              <input id="name-check-signup" required minlength="2" maxlength="30" type="text" name="user-name"
                class="popup__input input-focus" placeholder="Введите своё имя">
              <span id="error-name-check-signup" class="error-message error-message_is-opened">Введите не менее 2
                символов</span>

            </div>
            <span id="already-name-check-signup"
              class="error-message error-message_center error-message_is-opened">Такой
              пользователь уже есть</span>

            <button type="submit" name="button"
              class="button  button_color_blue  button_size_xl popup__button  button_state_inactive"
              disabled="disabled">Зарегистрироваться</button>
            <div class="input-container">
              <span class="popup__change">или</span>
              <span class="popup__text popup__text_status_move" id="login">Войти</span>
            </div>
          </form>
        </div>
      </div>



      <!-- popup_is-invisible -->
      <div class="popup popup__successful-signup popup_is-invisible" id="popup__successful-signup">
        <div class=" popup__container">
          <img src="<%=require('../images/close_white_mobile.svg').default%>" alt="Иконка закрытия окна"
            class="button-close popup__button-close">
          <a class="logo logo_color_white header__logo" href="./">NewsExplorer</a>
          <h3 class="popup__title popup-signup__title">Пользователь успешно зарегистрирован!</h3>
          <span class="popup__text popup__text_status_move" id="auth">Войти</span>
        </div>
      </div>



      <!-- popup_is-invisible-->
      <div class="popup popup_is-invisible" id="overlay"></div>



    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
  </div>
</body>

</html>