@import url('_type/popup__container_type_menu-mobile.css');

.popup__container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  margin: 110px auto 0;
  height: 100%;

}

@media screen and (min-width: 600px){
  .popup__container {
    height: auto;
  }
}