@import url("_location/button__icon_location_main.css");
@import url("_location/button__icon_location_articles.css");

.button__icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 8px;
  background-position: 95%;
  padding: 17px 34px 17px 16px;
}
