@import url("_is-invisible/article__keyword_is-invisible.css");

.article__keyword {
 font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-align: center;
color: #000000;
background-color: #fff;
border-radius: 10px;
padding: 8px 12px;
position: absolute;
top: 15px;
left: 15px;
z-index: 2;
}