@import url("__logo/header__logo.css");
@import url("__container/header__container.css");
@import url("__button-close/header__button-close.css");
.header {
  border-bottom: rgb(100, 100, 100) 1px solid;
  flex: 0 0 auto;
}

@media screen and (min-width: 620px) {
  .header {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
