@import url("__logo/header__logo.css");
@import url("__container/header__container.css");
.header {
  /* position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  border-bottom: hsla(0, 0%, 76.9%, 0.01);
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.2);
  flex: 0 0 auto;
}